body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

input {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #0275d8;
}

.red{
    background-color: red;
}

.box {
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}